<template class.bind="getClassNames()">
    <require from="./box-wrap.css"></require>

    <div class="box-title">
        ${title}
        <div if.bind="isShowSelection" class="dropdown-wrap">
            <a href="#" class="dropdown-toggle" pg-tooltip.bind="activeTab.title" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                ${activeTab.text}<span class="caret m-l-xs"></span>
            </a>
            <ul class="dropdown-menu pg-dropdown-menu" aria-labelledby="box-drop">
                <li repeat.for="item of list" click.delegate="changeView(item)" >
                    ${item.text}
                </li>
            </ul>
        </div>
    </div>
    <div class="box-content" pg-scroll-handler>
        <slot replaceable></slot>
    </div>
</template>
